<template>
  <div>
    <b-table :fields="fields" :items="listItems" hover class="top20">
      <template v-slot:cell(index)="data">
      {{data.index}}
      </template>

      <template v-slot:cell(id)="data">
      {{data.item.id}}
      </template>

      <template v-slot:cell(status)="data">
      {{data.item.status}}
      </template>

      <template v-slot:cell(url_image)="data">
        <b-link :href="data.item.url_image" target="_blank" :id="'link-image-resized_' + data.index">Link</b-link>
        <b-popover :target="'link-image-resized_' + data.index" triggers="hover" placement="top">
          <img :src="data.item.url_image" width="100"/>
        </b-popover>
      </template>

    </b-table>
  </div>
</template>

<script>
export default {
  mounted () {
    console.log('ListItems component is mounted')
  },
  props: {
    listItems: {
      type: Array,
      required: true,
      id: String,
      status: Boolean,
      url_image: String
    },
    fields: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
.top20 {
  margin-top: 20px;
}
</style>
